html{
    margin-top: -1%;
    padding-left: 14.5%;
    padding-right: 18.5%;
    background: url(img/fondo.jpg) center center;
}
main{
    background-color: white;
}
h1{
    padding-left: 2%;
    color: black;
    font-size: 50px;
}
header{
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}
nav{
    background-color: rgb(56, 56, 56);
    padding-top: 0.25%;
    padding-bottom: 0.25%;
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
    padding-left: 25%;
    font-weight: bold;
}
li{
    margin-right: 10%;
    /* padding: 5px; */
}
a{
    color: red;
    text-decoration: none;
}
.imglogo{
    width:10%;
    padding-left: 5%;
}
